@CHARSET "UTF-8";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: local('Glyphicons Halflings'), url(../res/fonts/glyphicons-halflings-regular.eot);
  src: local('Glyphicons Halflings'), url('../res/fonts/glyphicons-halflings-regular.eot?#iefix') 
  format('embedded-opentype'), url('../res/fonts/glyphicons-halflings-regular.woff') format('woff'), 
  url('../res/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../res/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html 
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #f1f6f9;
}

ul {
	list-style: none;
}

a {
	font-size: 1em;
	color: #28e8b6;
	text-decoration: none;
}

a.user {
	color: #fcb187;
}

span.glyphicon.user {
	color: white;
}

div.header-bg-container {
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url('../res/header.jpg');
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.05;
	z-index: 0;
}

/* Search Field */
form.search input {
	width: 100%;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
}

form.search input.search-field {
	vertical-align: middle;
	border-radius: 15px 0px 0px 15px;
	width: 350px;
	height: 30px;
	padding: 5px;
	height: 38px;
	padding-left: 10px;
	font-size: 1.1em;
	color: #555;
	-webkit-transition: all 0.2s ease-in;
}

form.search input.search-field:hover {
	box-shadow: 0px 0px 20px #fabd5f;
}

form.search button.search-btn {
	vertical-align: middle;
	color: white;
	height: 40px;
	background-color: #e67e22;
	width: 70px;
	border-radius: 0px 15px 15px 0px;
	border: 0;
	box-shadow: 0px 0px 2px black inset;
	outline: 0;
}

form.search button.search-btn:hover {
	color: white;
	height: 40px;
	background-color: #167f63;
	outline: 0;
}
/* Search Field END */

body {
	font-family: 'Droid Sans';
	padding: 0;
	margin: 0;
}

#wrap 
{
	margin: 0 auto;
	background: #f1f6f9;
}

#header 
{
	padding-top: 10px;
	height: 180px;
	width: 100%;
	background: #1abc9c;
	position: relative;
	display: inline-block;
}

h1.eFoods 
{
	position: relative;
	z-index: 1;
	font-family: 'Damion';
	font-size: 8em;
	text-align: center;
	color: rgba(255,255,255,1.0);
	margin: 0;

}

.sub-container {
	position: relative;
	z-index: 1;
	padding-left: 200px;
	margin-top: -30px;
}

h2.eFoods {
	font-family: 'Allerta';
	font-size: 1.2em;
	text-align: center;
	color: #34495e;
	letter-spacing: -0.1em;
}

#nav 
{
	position: relative;
	text-align: center;
	width: 100%;
	padding: 10px 0px;
	background: #167f63;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	z-index: 5;
}

span.user {
	color:	#faad6b;
}

div.row.subnav {
	margin: 0 auto;
	margin-top: 10px;
}

#nav ul 
{
	display: inline-block;
	list-style: none;
}

input.search {
	width: 500px;
	display: block;
}

#nav li 
{
	display: inline;
	margin: 0;
	padding: 10px;
}

#main 
{
	background: #f1f6f9;
}

div#splash {
	height: 300px;
	background-image: url('../res/splashimg.jpg');
	background-size: cover;
}

h2 
{
	margin: 0 0 1em;
}

#sidebar 
{
	/*background: #34495e;*/
	border-radius: 0px 0px 10px 0px;
}

ul#list-sidebar {
	padding: 0;
	list-style: none;
	margin-top: 10px;
	width: 100%;
}

ul#list-sidebar li {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul#list-sidebar li a {
	padding: 5px;
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	color: #d35400;
	-webkit-transition: all 0.2s ease-in-out;
}

ul#list-sidebar li a:hover {
	width: 100%;
	padding-left: 10px;
	font-size: 1.2em;
	color: #f57557;
	background-color: #98efcb;
}

ul#list-sidebar li a .text-link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 1.1em;
  	line-height: 1.42857143;
	margin-left: 15px;
}

#footer {
	margin-top: 50px;
	background-color: #1abc9c;
}

div#footer-col {
	width: 50%;
	margin: 0 auto;
}

/* Item block */
div.e-list-item {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: 2px solid rgba(0,0,0,0.1);
	width: 250px;
}

div.e-list-item-small {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	background-color: rgba(46, 204, 113, 0.1);
	border-radius: 5px;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: 2px solid rgba(0,0,0,0.1);
	width: 300px;
}

div.e-list-item-small img.img-responsive.img-thumbnail {
	width: auto;
	height: 100px;
}



/* Shopping cart button */
div.cart-btn-container {
	margin: 5px;
}

div.cart-btn-container > button {
	background-color: #e67e22;
	border: 1px solid rgba(0,0,0,0.1);
}

div.cart-btn-container > button:hover {
	background-color: #f48a4c;
}

div.cart-btn-container > button > span {
	color: #eff;
	font-size: 1em;
}


/* Product Image */
div.product-img-container {
	position: relative;
}

div.add-splash {
	text-align: center;
	position: absolute;
	font-size: 1.5em;
	color: #f48a4c;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
	padding-top: 50%;
	opacity: 0.0;
	font-weight: bold;
	background-color: white;
	-webkit-transition: all 0.25s ease-in;
}

div.fadeIn {
	opacity: 1;
	padding-top: 40%;
}


/* Cart Display Table */
table.cart tr td {
	padding: 10px;
}

/* Login Form Table */
table.login-form tr td {
	padding: 10px;
}

/* Cross-Sales */
div#crossSales {
	margin-left: 2%;
	margin-top: 2%;
}

.cross-sale-caption {
	color: #7f8c8d;
}