<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EECS4413ProjC</display-name>
  <welcome-file-list>
    <welcome-file>FrontServlet</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>PROPERTIES</param-name>
    <param-value>PROPERTIES</param-value>
  </context-param>
  <context-param>
    <param-name>SHARED_VALUES_FILE</param-name>
    <param-value>WEB-INF/classes/resources/values.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>FrontServlet</servlet-name>
    <servlet-class>ctrl.FrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontServlet</servlet-name>
    <url-pattern>/FrontServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>ctrl.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ctrl.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>ctrl.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>ctrl.ShoppingCartServlet</servlet-class>
  </servlet>
</web-app>